{% extends '::base.html.twig' %}

{% block body -%}
        <h1>Подбробная информация о авто: {{ model }}</h1>

        <table class="records_list">
        <tbody>
            <tr>
                <td>{{ entity.title }}</a></td>
            </tr>
        </tbody>
    </table>

{% endblock %}